@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --color-green: #55c57a;
    --color-green-light: #7ed56f;
    --color-green-dark: #28b485;

    --color-orange-light: #ffb900;
    --color-orange-dark: #ff7730;

    --color-teritary-light: #2998ff;
    --color-teritary-dark: #5643fa;

    --color-gray-light-1: #f7f7f7;
    --color-gray-light-2: #eee;

    --color-gray-dark: #777;
    --color-gray-dark-2: #999;
    --color-gray-dark-3: #333;

    --color-white: #fff;
    --color-black: #000;

    --color-brick: #C2603F;
    --color-primary: #0B1083;
    --color-primary-light: #5A63B9;
    --color-primary-dark: #201A43;
    --color-neutral: #C1BDC4;
    --color-neutral-light: #E6EAF0;
    --color-neutral-dark: #676767;

    --color-common: #4082B9;
    --color-major: #DE9A21;
    --color-important: #D22E1D;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);

    --line: 1px solid var(--color-gray-light-1);
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

.logo {
    height: 3.25rem;
    margin-left: 2rem;
}


.user-nav {
    align-self: stretch;
    display: flex;
    align-items: center;

&
> * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

&
> *:hover {
    background-color: var(--color-gray-light-2);
}

&
__icon-box {
    position: relative;
}

&
__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-gray-dark-2);
}

&
__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 100%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

&
__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
}

}

.content {
    display: flex;
}

@layer components {
    body {
        @apply
        font-normal
        leading-relaxed
        text-[var(--color-gray-dark-2)]
        bg-[var(--color-neutral-light)]
        /*bg-gradient-to-b from-[var(--color-gray-light-1)] to-[var(--color-neutral-light)] bg-cover bg-no-repeat*/
        min-h-screen
    }

    .container {
        @apply max-w-[150rem] my-20 mx-auto bg-white shadow-gray-400/70 shadow-lg min-h-[50rem]
    }


}

